:root {
    --white: #fafaff;
    --black: #333333;
    --grey: #CCC;
    --dark-grey: #888;
}
* {
    font-family: BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    margin: 0;
    padding: 0;
}

html {
    background: var(--white);
}

h1 {
    font-weight: 900;
    font-size: 4.5rem;
    z-index: 1;
    text-wrap: wrap;
    margin: 0;
    padding: 0;
    line-height: 4rem;
    position: relative;
}
h2 {
    font-size: 2.25rem;
}
h3 {
    font-size: 1.75rem;
    font-weight: 500;
}

a {
    text-decoration: none;
     color: black;
}

.button1 {
    border: 0.2rem solid black;
    border-radius: 1.5rem;
    padding: 0.20rem;
    width: 150px;
    margin: 0.4rem 0 0 0 ;

    display: inline-block;
    text-align: center;

    font-size: 1.5rem;
    font-weight: 700;
}


.box {
    border: 0.2rem solid black;
    padding: 0.2rem;
    margin: 0 0.2rem 0 0;
    display: inline-block;
}

.Qr-Wrapper {
    width: 250px;
    height: 275px;
    background-color: white;
    margin: 0.5rem;
    border-radius: 1rem;
    overflow: hidden;
    img {
        width: 100%;
    }
    h3 {
        top: -1.15rem;
        position: relative;
        text-align: center;
    }
}

.fw-wrapper {
    padding: 6rem 0 6rem 0;
}

.fw-container {
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    margin-left: auto;
    margin-right: auto;

    .inner-full-width-container {
        max-width: 800px;
    }
}

main {
    background: linear-gradient(#ffffff, #eefafa);
    height: 100%;

    #d1 {
        padding: 1rem;
        height: 25rem;
        overflow: hidden;
        margin-bottom: 7rem;

        img {
            margin: auto;
            filter: blur(9px);
        }

        div {
            position: absolute;
            z-index: 2;
            width: 100%;
            text-align: center;
            h1 {
                color: var(--white);
            }
        }
    }

    #d2 {
        height: calc(0rem - 10%);
        max-width: 1075px;
        display: flex;
        flex-flow: column;
        align-items: flex-start;

        #counters {
            div {
                margin: 1rem 1rem 1rem 0;
                padding: 0.6rem !important;

            }
        }

        #npo_logos {
            margin: 1rem 2rem 1rem 0;
            .logo-wrapper {
                height: 100px;
                display: inline-block;
                img {height: 100%;}
            }

        }

}

    #d3{
        height: calc(12rem - 10%);
    }

    #d4{
        height: calc(16rem - 10%);
        ul {
            margin-left: 1.5rem
        }
    }

    #d5{
        height: calc(16rem - 10%);
        ul {
            margin-left: 1.5rem
        }
    }
    #footer{
        margin-top: 7rem;
        background-color: var(--grey);

        #footer-inner {
            margin: 0 auto 0 auto;
            padding: 2rem;

            height: calc(16rem - 10%);
            display: flex;
            justify-content: center;

            button {
                background: transparent;
                border: none;
            }

            .image-wrapper {
                margin: 10px;
                width: 40px;
                height: 40px;
                img {
                    width: 100%;
                }
            }


        }
    }

}

@media (max-width: 700px) {
    h1 {
        font-size: 3.5rem;
    }

    #npo_logos {
        display: none;
    }
}

@media (min-width: 701px) and (max-width: 1130px) {
    h1 {
        font-size: 4rem !important;
    }
}

@media (max-width: 1130px) {
    .fw-container {
        justify-content: flex-start;
    }

    h2 {
        font-size: 2rem;
    }
    h3 {
        font-size: 1.5rem;
    }
}

@media (max-width: 423px) {
    #d1 {
        div {
            top: 8rem;
        }
        img {
            height: 100%;
        }
    }
}


@media (min-width: 424px) and (max-width: 950px) {
    #d1 {
        div {
            top:10rem !important;
        }
        img {
            height: 100%
        }
    }
}
@media (min-width: 951px) {
    #d1 {
        div {
            top: 11.5rem;
        }

        img {
            width: 100%
        }
    }
}
